/**/bin/
/**/obj/
/ex009_fibonnacci-even-numbers-sum/.vs/ex009_fibonnacci-even-numbers-sum
/.vs
/ex007_db-connection/.vs/ex007_db-connection/DesignTimeBuild
/ex008_multiples-of-3-and-5/.vs/ProjectEvaluation
/ex008_multiples-of-3-and-5/.vs/ex008_multiples-of-3-and-5/v17
/ex008_multiples-of-3-and-5/.vs/ex008_multiples-of-3-and-5/FileContentIndex
/ex008_multiples-of-3-and-5/.vs/ex008_multiples-of-3-and-5/DesignTimeBuild
